.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__image {
  height: 282px;
  width: 282px;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}

.card__image:hover {
  cursor: pointer;
}

.card__image_modal_caption {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.card__modal_image {
  max-width: 75vw;
  max-height: 75vh;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  max-width: 282px;
  height: 79px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  align-items: center;
}

.card__description-text {
  font-weight: 900;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  line-height: 29.05px;
  overflow: hidden;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: auto;
  margin: 0 auto 0 20px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  padding: 31px 20px 30px 28px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__delete-button {
  background: transparent url(../images/delete-button.svg) center no-repeat;
  width: 19.3px;
  height: 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  margin: 18px 15px 323.7px 249px;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
